.nav {
  &__inner {
    display: flex;
    align-items: center;
    &-link {
      font-family: $font-secondary;
      font-weight: bold;
      font-size: 17px;
      line-height: 17px;
      color: $black;
      margin-right: 40px;
      @include transition;
      &.active {
        color: $main;
      }
      &:hover {
        color: $main;
      }
    }
    &-uniq {
      font-weight: 500;
      font-size: 17px;
      line-height: 25px;
      text-decoration-line: underline;
      color: #666666;
      margin: 0 20px 0 50px;
    }
  }
}
.burger {
  display: none;
}

@mixin nav-xxlg-xxxlg {
  .nav {
    &__inner {
      &-link {
        margin-right: 20px;
      }
    }
  }
}
@mixin nav-xlg-xxlg {
  .nav {
    &__inner {
      &-uniq {
        margin: 0 20px 0 0;
      }
    }
  }
}
@mixin nav-lg-xlg {
  .nav {
    &__inner {
      &-link {
        font-size: 14px;
        line-height: 16px;
      }
      &-uniq {
        font-size: 14px;
        line-height: 16px;
      }
    }
  }
}
@mixin nav-md-lg {
  .nav {
    position: fixed;
    top: 75.58px;
    left: 0;
    width: 100%;
    height: calc(100% - 75.58px);
    z-index: 100;
    background: rgba($color: #000000, $alpha: 0.4);
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    @include transition;
    &.active {
      @include transformReset;
    }
    &__inner {
      flex-direction: column;
      -ms-flex-direction: column;
      position: absolute;
      justify-content: unset;
      align-items: unset;
      top: 0;
      right: 0;
      width: 250px;
      padding: 0;
      z-index: 1;
      padding: 20px;
      height: calc(100% - 40px);
      overflow-y: auto;
      background: $white;
      &-link {
        border: none;
        padding: 15px;
        display: block;
        text-align: left;
        width: unset;
        color: $black;
        margin-right: 0;
        font-size: 16px;
        line-height: 1;
      }
      &-uniq {
        padding: 15px;
        text-align: left;
        font-size: 16px;
      }
    }
    .button {
      margin: 15px;
      width: calc(100% - 30px);
      box-sizing: border-box;
      text-align: center;
    }
  }
  .body.active {
    overflow: hidden;
  }
  .burger {
    display: block;
    position: relative;
    width: 30px;
    height: 30px;
    &::before {
      top: 20%;
      width: calc(100% - 0.4rem);
      height: 4px;
      background-color: $main;
      border-radius: 0.125rem;
      transition: all 0.3s ease;
      content: "";
      position: absolute;
      left: 50%;
      @include transformX;
    }
    &::after {
      bottom: 20%;
      width: calc(100% - 0.4rem);
      height: 4px;
      background-color: $main;
      border-radius: 0.125rem;
      transition: all 0.3s ease;
      content: "";
      position: absolute;
      left: 50%;
      @include transformX;
    }
    &.active {
      &::before {
        top: 50%;
        -webkit-transform: translate(-50%, -50%) rotate(45deg);
        transform: translate(-50%, -50%) rotate(45deg);
      }
      &::after {
        bottom: 50%;
        -webkit-transform: translate(-50%, 50%) rotate(-45deg);
        transform: translate(-50%, 50%) rotate(-45deg);
      }
    }
  }
}
@mixin nav-sm-md {
  .nav {
    top: 53.22px;
    height: calc(100% - 53.22px);
  }
}
