$main: #8f87ff;
$main-dark: #775da8;
$main-dark-text: #392969;
$secondary: #2ab8ea;
$secondary-light: #edf4ff;
$main-text: #5b6e96;
$gray-text: #7c8087;
$gray-light: #c4c4c4;
$black-text: #121c3b;
$black-button: #1e1e1e;
$black: #000;
$white: #fff;
$red: #ff734d;
$font-primary: "Poppins", sans-serif;
$font-secondary: "Montserrat", sans-serif;
